<div class="container mx-auto pt-[100px] p-5 min-h-screen text-white grid grid-cols-1 sm:grid-cols-2 gap-5 justify-center content-center">
    <div class="sm:col-span-2 text-5xl font-bold">
        About me
    </div>
    <div class="order-last sm:order-none flex flex-col gap-5">
        <p class="text-lg">
            Hi, my name is Emanuel, I'm a Brazilian programmer. I'm {{ calculateAge(birthDate) }} and I'm an Angular expert!
        </p>
        <p class="text-lg">
            I've been studying programming since 2014 when I started a technical Gaming Programming course. Afterwards, I graduated in Computer Science at one of the most renowned private universities in Brazil, with a full scholarship.
        </p>
        <p class="text-lg">
            During my graduation, I interned at IBM, where I had my first contact with Angular. I joined there in 2018, and we used Angular 8 at that time.
        </p>
        <p class="text-lg">
            Since then, I've had several jobs, all using Angular.
        </p>
        <p class="text-lg">
            I already have more than 
            <span class="font-bold text-xl ping-text px-1">{{ currYear - 2018 }} years of experience</span>
            with Angular.
        </p>
    </div>
    <div class="flex justify-center">
        <div class="size-40 sm:size-auto flex bg-[url('assets/background.png')] bg-center bg-cover bg-no-repeat rounded-[5vw] overflow-hidden">
            <img class="backdrop-blur-sm w-full object-cover" src="assets/face.png" />
        </div>
    </div>
</div>
<div class="container mx-auto p-5 text-white grid grid-cols-1 gap-10 sm:gap-20">
    <div class="text-5xl font-bold">
        Work Experience
    </div>
    <div class="timeline flex flex-col gap-10">
        @for (xp of workExperience; track xp; let odd = $odd; let first = $first; let last = $last) {
            <div class="work-xp grid sm:grid-cols-2 gap-10" [class.mt-10]="first" [class.mb-10]="last">
                <div class="self-center period hidden sm:block" [ngClass]="{ 'sm:text-right': odd, 'sm:order-last': !odd }">
                    <span> {{ xp.startDate | date: 'MMMM, y' }} </span>
                    -
                    <span> {{ xp.endDate ? (xp.endDate | date: 'MMMM, y') : 'PRESENT' }} </span>
                </div>
                <div class="flex gap-10 items-center" [ngClass]="{ 'sm:justify-self-end': !odd }">
                    <div class="work-card w-full sm:w-auto">
                        <div class="position">{{ xp.position }}</div>
                        <div class="flex justify-between">
                            <p class="company"> {{ xp.company }} </p>
                            <div class="flex items-center sm:hidden gap-1 text-sm">
                                <span> {{ xp.startDate | date: 'MMMM, y' }} </span>
                                -
                                <span> {{ xp.endDate ? (xp.endDate | date: 'MMMM, y') : 'PRESENT' }} </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
