<div class="p-page">
	<mat-card class="m-auto">
		<div>
			<mat-form-field appearance="outline" class="w-100">
				<mat-label>Nome</mat-label>
				<input matInput placeholder="Placeholder" [(ngModel)]="texto">
			</mat-form-field>
			<button mat-raised-button color="primary" (click)="calcularPorPalavra(texto)">Calcular</button>
		</div>
		<br>
		<mat-card class="mat-elevation-z3 m-auto" *ngIf="frase !== undefined">
			<mat-card-title style="text-transform: capitalize;">{{ frase.frase }}</mat-card-title>
			<mat-card-subtitle>
				Número
				<span matBadge="M" [matBadgeHidden]="!esNumeroMestre(frase.soma)" matBadgeDescription="Número Mestre"
					matBadgeOverlap="false" matBadgePosition="below">
					{{ esNumeroMestre(frase.soma) ? frase.soma : frase.numero }}
				</span>
			</mat-card-subtitle>
			<mat-card-content>
				<mat-accordion multi="true" displayMode="flat">
					<mat-expansion-panel *ngFor="let p of frase.palavras">
						<mat-expansion-panel-header>
							<mat-panel-title class="text-capitalize">
								{{ p.palavra }}
							</mat-panel-title>
							<mat-panel-description>
								Número&nbsp;
								<span matBadge="M" [matBadgeHidden]="!esNumeroMestre(p.soma)" matBadgeDescription="Número Mestre"
									matBadgeOverlap="false">
									{{ esNumeroMestre(p.soma) ? p.soma : p.numero }}
								</span>
							</mat-panel-description>
						</mat-expansion-panel-header>
						<mat-card class="mat-elevation-z3 categoria" *ngIf="p.vogais.soma > 0 && p.consoantes.soma > 0">
							<mat-card-header>
								<mat-card-title>Vogais</mat-card-title>
								<mat-card-subtitle class="mb-0">
									Número&nbsp;
									<span matBadge="M" [matBadgeHidden]="!esNumeroMestre(p.vogais.soma)"
										matBadgeDescription="Número Mestre" matBadgeOverlap="false">
										{{ esNumeroMestre(p.vogais.soma) ? p.vogais.soma : p.vogais.numero }}
									</span>
								</mat-card-subtitle>
							</mat-card-header>
						</mat-card>
						<mat-card class="mat-elevation-z3 categoria" *ngIf="p.vogais.soma > 0 && p.consoantes.soma > 0">
							<mat-card-header>
								<mat-card-title>Consoantes</mat-card-title>
								<mat-card-subtitle class="mb-0">
									Número&nbsp;
									<span matBadge="M" [matBadgeHidden]="!esNumeroMestre(p.consoantes.soma)"
										matBadgeDescription="Número Mestre" matBadgeOverlap="false">
										{{ esNumeroMestre(p.consoantes.soma) ? p.consoantes.soma : p.consoantes.numero }}
									</span>
								</mat-card-subtitle>
							</mat-card-header>
						</mat-card>

						<div class="w-fit-content">
							<div *ngFor="let l of p.letras" class="font-number">
								{{ l.letra }}
								<mat-icon class="icon-center">arrow_right</mat-icon>
								{{ l.numero }}
							</div>
						</div>
					</mat-expansion-panel>
				</mat-accordion>
			</mat-card-content>
		</mat-card>
		<mat-table [dataSource]="tabela" class="mat-elevation-z3 w-100 mt-20">
			<ng-container *ngFor="let col of colunas" [matColumnDef]="col">
				<mat-header-cell *matHeaderCellDef> {{col}} </mat-header-cell>
				<mat-cell *matCellDef="let linha"> {{linha[col-1]}} </mat-cell>
			</ng-container>
			<mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
			<mat-row *matRowDef="let row; columns: colunas;"></mat-row>
		</mat-table>
	</mat-card>
</div>