<div style="padding: 25px;">
    <mat-card style="margin: auto;">
        <div>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Placeholder" [(ngModel)]="nome">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="calcularLetras(nome)">Calcular</button>
        </div>
        <br>
        <div *ngFor="let v of valores">
            {{v.letra}} -> {{v.numero}}
        </div>
        <br><br>
        <div *ngIf="final !== undefined">
            Total
            <br>
            {{final.numero}} -> {{final.soma}}
        </div>
    </mat-card>
</div>