<div class="container mx-auto flex flex-col items-center justify-center gap-10 p-5 h-screen relative font-['Poppins']">
    <div class="size-[300px] logo transition-all"> </div>
    <p class="text-3xl sm:text-4xl text-white text-center">
        Hi, I'm <span class="font-medium">Emanuel Umbelino</span>,
    </p>
    <p class="text-5xl sm:text-7xl text-white text-center font-bold">
        Front End Developer
    </p>
    <div id="scroller" class="absolute xs:bottom-10 bottom-12 flex justify-center items-center">
        <a routerLink="" fragment="about">
            <div class="w-[35-px] h-[64px] rounded-3xl border-4 flex justify-center items-start p-2">
                <div class="w-3 h-3 rounded-full bg-white mb-1 scroll">
                </div>
            </div>
        </a>
    </div>
</div>